ion-thumbnail {
  width: 196px;
  height: 110px;
  transition-duration: 400ms;
  img {
    width: 196px;
    height: 110px;
  }
}

ion-label {
  transition-duration: 400ms;
}
ion-item:hover {
  ion-thumbnail {
    width: 196px;
    height: 110px;
    transform: scale(1.2);

    img {
      width: 196px;
      height: 110px;
    }
  }
  ion-label {
    margin-left: 10px;
  }
}
