<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-split-pane contentId="chat">
  <!--  our side menu  -->
  <ion-menu menuId="chat" side="end" type="overlay" contentId="chat">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title> {{users}} online </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-chat-messages [video]="videoId"></app-chat-messages>
    </ion-content>

    <ion-footer>

      <ng-container *ngIf="authState?.logged;else tempLogged;">
        <ion-toolbar color="light">
          <ion-item color="light">
            <ion-input autofocus="true" maxlength="150" (keydown.enter)="sendMessage()" [(ngModel)]="input"
              placeholder="Escreva aqui um comentario">
            </ion-input>
          </ion-item>
          <ion-buttons slot="end">
            <ion-button (click)="sendMessage()" fill="clear" color="dark" shape="round" slot="end">
              <ion-icon name="send-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ng-container>
      <ng-template #tempLogged>
        <ion-toolbar color="light">
          <ion-title>
            Entre para interagir
          </ion-title>
        </ion-toolbar>
      </ng-template>

    </ion-footer>
  </ion-menu>

  <!-- the main content -->
  <ion-content id="chat">
    <ion-toolbar color="light">
    </ion-toolbar>
    <div class="video">
      <app-video [videoId]="videoId" (statusVideo)="fromVideo($event)"></app-video>
    </div>
    <ion-toolbar color="light">
      <ion-buttons slot="end">
        <!-- <ion-button>
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button> -->
        <ion-button (click)="toggleMenuChat()">
          <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>

        <!-- <ion-menu-button menu="chat">
          <ion-icon color="dark" name="chatbox-ellipses-outline"></ion-icon>
        </ion-menu-button> -->
        <!-- <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button> -->
      </ion-buttons>
    </ion-toolbar>


  </ion-content>
</ion-split-pane>